name: Unit Tests
on:
  push
    
jobs:
  scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: UT
        run: |
          uv sync --only-group test
          uv pip install -e .
          uv run --only-group test pytest src/tests/ut/
